
h1{
  font-family: 'Montserrat' , sans-serif;
}
.feature-head{
  font-family: 'Montserrat' , sans-serif;
}
h3{
  font-family: 'Pangolin', sans-serif;
}
h2{
font-size: 2.5rem;
line-height: 1.5;
}

h3{
line-height: 1;
}

body{
font-family:sans-serif;
}

p{
  color: #8f8f8f;
}

@media (max-width : 1028px) {
p{
  font-size: 1rem;
}
}

/*Heading*/
.large-head{
  font-size: 3.5rem;
  line-height: 1.5;
}

#title{
  color:white;
  background-color:#3ca59d;
}

.container-fluid{
  padding-top: 5%;
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 15%;
}

/* Navigation Bar */
.tindog-logo-nav{
  margin-left: 30%;
}
.navbar{

}
.faicons{
margin-left: 30%;
}

@media (max-width : 1028px) { /*or min-width:900px more then 900px*/
.faicons{
position: relative;
right:30%;
}
}

.nav-item{
  padding-left: 18px;
  padding-right: 18px;
}
.nav-link{
  font-size:1.2rem;
 /* font-family: "Montserrat-light";  */
}
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
/* download button */

.download-button{
  margin: 5% 3% 5% 0;
}

/*Title Image*/
.title-image{
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
   left: 20%;
}


@media (max-width : 1028px) { /*or min-width:900px more then 900px*/
.title-image{
  position: static;
  transform: rotate(0deg);
 }
 #title{
   text-align: center;
 }
}


/* features */
.icon{
  color: #ef8172;
  padding-bottom: 1.2rem;
  font-weight: 1.5;
}
.icon:hover{
  color: #ff4c68;
}


#features{
  padding:7% 15%;
  background-color: #ddf3f5;
  position: relative; /*for providing the image below feature*/
  z-index: 1;


}
.feature-box{
  padding:5%;
  text-align: center;
}



#testimonials{

  text-align: center;
  background-color:  #ef8172;
  color: #fff;

}
.testimonial-text{
  font-family: 'Montserrat' , sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
  color: #ddf3f5;
}
.testimonial-image{
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}
.carousel-item{
    padding:7% 15%;
}
.thirdimg{
  height: 100%;
  width : 15%;
}


#press{
    background-color:  #ef8172;
    padding-bottom: 3%;
    text-align: center;
}
.press-logo{
  width: 15%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 15px;
  margin-bottom: 50px;
}


/*Pricing section*/
#pricing{
  text-align: center;
  padding: 100px;
  background-color: #ddf3f5;
}
.pricing-column{
  padding: 3% 2%;
}
.btn1{
padding-bottom: 44px;
}
.price-head{
font-family: 'Sacramento', cursive;
}
.price-name{
  font-family: Bradley Hand,cursive,sans-serif;
}


#cta{
  text-align: center;
  background-color:#ff4c68;
  color: #fff;
}
.cta-head{
  padding-top: 5%;
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  line-height: 1.5;
}
/*Footer sectrion*/
#footer{
  background-color:#3ca59d;
  padding:3% 15%;
  text-align: center;
}

.social-icon{
  margin: 20px 10px;
}
.footer-copy{
  color: black;
}


/*by me */

.foot-link-name{
  padding-left: 10px;
}
a{
  color:blue;
}
a:hover{
  color: black;
}
